<form name="config">
  <div class="col-md-8 col-md-offset-1">
    <table class='table table-borderless table-condensed'>
      <tr>
        <th>enabled</th>
        <th>name</th>
        <th>worker</th>
        <th>pass</th>
        <th>location</th>
        <th>append rig name</th>
        <th>append group name</th>
      </tr>
      <tr ng-repeat="asPool in configVm.config.autoswitchPools track by $index">
        <td><input type="checkbox" ng-model="asPool.enabled"></td>
        <td>{{asPool.name}}</td>
        <td><input type="text" ng-model="asPool.worker" size="42"></td>
        <td><input type="text" ng-model="asPool.pass"></td>
        <td><select ng-options="location for location in configVm.config.locations" ng-model="asPool.location"></select></td>
        <td><input type="checkbox" ng-model="asPool.appendRigName"></td>
        <td><input type="checkbox" ng-model="asPool.appendGroupName"></td>
      </tr>
    </table>
  </div>
</form>


<div class="row" style="margin-bottom: 10px;">
  <div class="col-md-12">
    <button type="button" class="btn btn-success" ng-click="configVm.setConfig()" ng-disabled="config.$invalid">Save
    </button>
    <i ng-show="configVm.waiting" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</div>

