<form name="config">

  <div class="row" style="margin-bottom: 10px;">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default" ng-repeat="group in configVm.config.groups track by $index">
        <div class="panel-heading" role="tab" id="{{group.name}}-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{group.name}}">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{group.name}}" aria-expanded="{{$first}}" aria-controls="collapse{{group.name}}">
              {{group.name}}
            </a>
          </h4>
        </div>
        <div id="collapse{{group.name}}" class="panel-collapse collapse {{$first ? 'in' : ''}}" role="tabpanel" aria-labelledby="{{group.name}}-heading">
          <div class="panel-body">
            <table class='table table-borderless'>
              <tr>
                <th>enabled</th>
                <th>miner path</th>
                <th>commandline</th>
                <th>type</th>
                <th>port</th>
                <th>use stratum proxy</th>
                <th>write miner log</th>
                <th>own shell window</th>
                <th>group</th>
                <th>algorithm</th>
                <th>hashrate</th>
                <th>action</th>
              </tr>
              <tr ng-repeat="entry in configVm.config.entries track by $index">
                <td ng-if="entry.group===group.name"><input type="checkbox" ng-model="entry.enabled" ng-click="configVm.setConfig()"></td>
                <td ng-if="entry.group===group.name"><input type="text" name="binPath-{{entry.id}}" ng-model="entry.binPath" placeholder="path to miner bin" size="42"></td>
                <td ng-if="entry.group===group.name"><input type="text" name="cmdline-{{entry.id}}" ng-model="entry.cmdline" placeholder="commandline for miner" size="42"></td>
                <td ng-if="entry.group===group.name"><select name="typeSelect-{{entry.id}}" ng-options="type for type in configVm.config.types" ng-model="entry.type" required></select></td>
                <td ng-if="entry.group===group.name && entry.type!=='other'"><input type="number" name="port-{{entry.id}}" ng-model="entry.port" placeholder="port to use for api" required></td>
                <td ng-if="entry.group===group.name && entry.type==='other'"><input type="number" name="port-{{entry.id}}" ng-model="entry.port" placeholder="port to use for api" disabled></td>
                <td ng-if="entry.group===group.name && entry.type!=='other'"><input type="checkbox" ng-model="entry.useStratumProxy" ng-click="configVm.setConfig()"></td>
                <td ng-if="entry.group===group.name && entry.type==='other'"><input type="checkbox" ng-model="entry.useStratumProxy" ng-click="configVm.setConfig()" disabled></td>
                <td ng-if="entry.group===group.name && entry.shell!==true"><input type="checkbox" ng-model="entry.writeMinerLog" ng-click="configVm.setConfig()"></td>
                <td ng-if="entry.group===group.name && entry.shell===true"><input type="checkbox" ng-model="entry.writeMinerLog" ng-click="configVm.setConfig()" disabled></td>
                <td ng-if="entry.group===group.name && entry.writeMinerLog!==true"><input type="checkbox" ng-model="entry.shell" ng-click="configVm.setConfig()"></td>
                <td ng-if="entry.group===group.name && entry.writeMinerLog===true"><input type="checkbox" ng-model="entry.shell" ng-click="configVm.setConfig()" disabled></td>
                <td ng-if="entry.group===group.name"><select name="groupSelect-{{entry.id}}" ng-options="group.name as group.name for group in configVm.config.groups" ng-model="entry.group" required></select></td>
                <td ng-if="entry.group===group.name"><select name="algoSelect-{{entry.id}}" ng-options="algo for algo in configVm.config.algos" ng-model="entry.algo"></select></td>
                <td ng-if="entry.group===group.name"><input type="number" name="hashrate-{{entry.id}}" ng-model="entry.hashrate" placeholder="13.37"> H/s</td>
                <td ng-if="entry.group===group.name"><button type="button" class="btn btn-info" ng-click="configVm.copyCustomMiner(entry.id)">copy</button> <button type="button" class="btn btn-warning" ng-click="configVm.delCustomMiner(entry.id)">remove</button></td>
              </tr>
              <tr style="border-top: 1px solid lightgrey;">
                <td><input type="checkbox" ng-model="configVm.newCustomMiner.enabled"></td>
                <td><input type="text" name="binPath-newMiner" ng-model="configVm.newCustomMiner.binPath" placeholder="path to miner bin" size="42"></td>
                <td><input type="text" name="cmdline-newMiner" ng-model="configVm.newCustomMiner.cmdline" placeholder="commandline for miner" size="42"></td>
                <td><select name="typeSelect-newMiner" ng-options="type for type in configVm.config.types" ng-model="configVm.newCustomMiner.type"></select></td>
                <td ng-if="configVm.newCustomMiner.type!=='other'"><input type="number" name="port-newMiner" ng-model="configVm.newCustomMiner.port" placeholder="port to use for api"></td>
                <td ng-if="configVm.newCustomMiner.type==='other'"><input type="number" name="port-newMiner" ng-model="configVm.newCustomMiner.port" placeholder="port to use for api" disabled></td>
                <td ng-if="configVm.newCustomMiner.type!=='other'"><input type="checkbox" ng-model="configVm.newCustomMiner.useStratumProxy"></td>
                <td ng-if="configVm.newCustomMiner.type==='other'"><input type="checkbox" ng-model="configVm.newCustomMiner.useStratumProxy"></td>
                <td ng-if="configVm.newCustomMiner.shell!==true"><input type="checkbox" ng-model="configVm.newCustomMiner.writeMinerLog"></td>
                <td ng-if="configVm.newCustomMiner.shell==true"><input type="checkbox" ng-model="configVm.newCustomMiner.writeMinerLog" disabled></td>
                <td ng-if="configVm.newCustomMiner.writeMinerLog!==true"><input type="checkbox" ng-model="configVm.newCustomMiner.shell"></td>
                <td ng-if="configVm.newCustomMiner.writeMinerLog==true"><input type="checkbox" ng-model="configVm.newCustomMiner.shell" disabled></td>
                <td><select name="groupSelectNewMiner" ng-options="group.name as group.name for group in configVm.config.groups" ng-model="configVm.newCustomMiner.group"></select></td>
                <td><select name="algoSelectNewMiner" ng-options="algo for algo in configVm.config.algos" ng-model="configVm.newCustomMiner.algo"></select></td>
                <td><input type="number" name="hashrateNewMiner" ng-model="configVm.newCustomMiner.hashrate" placeholder="13.37"> H/s</td>
                <td><button type="button" class="btn btn-success" ng-click="configVm.addCustomMiner()">add</button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>
</form>



<div class="row" style="margin-bottom: 10px;">
  <div class="col-md-12">
    <button ng-show="!configVm.waiting" type="button" class="btn btn-primary" ng-click="configVm.setConfig()" ng-disabled="config.$invalid"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save
    </button>
    <button ng-show="configVm.waiting" type="button" class="btn btn-success" disabled><i class="fa fa-refresh" aria-hidden="true"></i> Saving..
    </button>
    <i ng-show="configVm.waiting" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</div>
