<form name="config">
  <div class="row" style="margin-bottom: 10px;" ng-repeat="asPool in configVm.config.autoswitchPools track by $index">
    <div class="col-md-12">
      <input type="checkbox" ng-model="asPool.enabled"> <b>{{asPool.name}}:</b> worker: <input type="text" ng-model="asPool.worker" size="42">, pass: <input type="text" ng-model="asPool.pass">, location: <select ng-options="location for location in configVm.config.locations" ng-model="asPool.location"></select>, append rig and group name: <input type="checkbox" ng-model="asPool.appendRigName">
    </div>
    <div class="col-md-12">
      <table class='table table-borderless table-condensed'>
        <tr>
          <th>working</th>
          <th>enabled</th>
          <th>name</th>
          <th>algorithm</th>
          <th>SSL</th>
          <th>NicehashPool</th>
          <th>stratum url</th>
        </tr>
        <tr ng-repeat="entry in asPool.pools track by $index">
          <td ng-if="entry.working"><i class="fa fa-circle" aria-hidden="true" style="color:green"></i></td>
          <td ng-if="!entry.working"><i class="fa fa-circle" aria-hidden="true" style="color:red"></i></td>
          <td><input type="checkbox" ng-model="entry.enabled" disabled></td>
          <td><input type="text" ng-model="entry.name" disabled></td>
          <td><select ng-options="algo for algo in configVm.config.algos" ng-model="entry.algo" disabled></select></td>
          <td><input type="checkbox" ng-model="entry.isSSL" disabled></td>
          <td><input type="checkbox" ng-model="entry.isNH" disabled></td>
          <td><input type="text" name="stratum-{{entry.id}}" ng-model="entry.url" placeholder="stratum+tcp://domain.tld:1234" size="42" disabled></td>
        </tr>
      </table>
    </div>
  </div>
</form>


<div class="row" style="margin-bottom: 10px;">
  <div class="col-md-12">
    <button type="button" class="btn btn-success" ng-click="configVm.setConfig()" ng-disabled="config.$invalid">Save
    </button>
    <i ng-show="configVm.waiting" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</div>

