<div class="col-md-12" style="margin-bottom: 10px;">
  <span style="font-size:120%;">Rig: {{statsVm.current.rigName}}</span>
</div>
<div class="col-md-12" style="margin-bottom: 10px;">

  <button type="button" class="btn btn-success" ng-show="!statsVm.current.running" ng-click="statsVm.startMiner()">Start
    Miner
  </button>
  <button type="button" class="btn btn-danger" ng-show="statsVm.current.running" ng-click="statsVm.stopMiner()">Stop
    Miner
  </button>
  <i ng-show="statsVm.waiting" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
  <span class="sr-only">Loading...</span>
  <br/>
  Miner is <span ng-show="!statsVm.current.running" class="label label-danger">stopped</span>
  <span ng-show="statsVm.current.running">
    <span class="label label-success">running</span>

      <div ng-repeat="entry in statsVm.current.entries track by $index">

        <div ng-if="entry.type==='cpuminer-opt'">
          <span style="font-size:120%;">[cpuminer-opt]</span><br/>

          <div class="col-md-6" style="margin-top: 10px;">
            <div class="panel panel-default">
              <div class="panel-body">
                <table class='table table-borderless'>
                  <tr>
                    <td>Hashrate</td>
                    <td><span class="label label-primary">{{entry.hashrate | hashrate}}</span></td>
                  </tr>
                  <tr>
                    <td>Algorithm</td>
                    <td><span class="label label-info">{{entry.algorithm}}</span></td>
                  </tr>
                  <tr>
                    <td>Cores</td>
                    <td><span class="label label-info">{{entry.cores}}</span></td>
                  </tr>
                  <tr>
                    <td>Temperature</td>
                    <td ng-show="entry.temperature"><span class="label label-info">{{entry.temperature}} °C</span></td>
                  </tr>
                  <tr>
                    <td>Version</td>
                    <td><span class="label label-info">{{entry.miner}}</span></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-6" style="margin-top: 10px;">
            <div class="panel panel-default" style="padding-left: 2px;">
              <div class="panel-body">
                <table class='table table-borderless'>
                  <tr>
                    <td>Accepted Shares</td>
                    <td><span class="label label-primary">{{entry.accepted}}</span></td>
                  </tr>
                  <tr>
                    <td>Rejected Shares</td>
                    <td><span class="label label-primary">{{entry.rejected}}</span></td>
                  </tr>
                  <tr>
                    <td>Accepted Shares / Min</td>
                    <td><span class="label label-info">{{entry.acceptedPerMinute}}</span></td>
                  </tr>
                  <tr>
                    <td>Difficulty</td>
                    <td><span class="label label-info">{{entry.difficulty}}</span></td>
                  </tr>
                  <tr>
                    <td>Uptime</td>
                    <td><span class="label label-info">{{entry.uptime | secondsToTimeString}}</span></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>

        <div ng-if="entry.type==='ccminer'">
          <span style="font-size:120%;">[ccminer]</span><br/>

          <div class="col-md-6" style="margin-top: 10px;">
            <div class="panel panel-default">
              <div class="panel-body">
                <table class='table table-borderless'>
                  <tr>
                    <td>Hashrate</td>
                    <td><span class="label label-primary">{{entry.hashrate | hashrate}}</span></td>
                  </tr>
                  <tr>
                    <td>Algorithm</td>
                    <td><span class="label label-info">{{entry.algorithm}}</span></td>
                  </tr>
                  <tr>
                    <td>GPUs</td>
                    <td><span class="label label-info">{{entry.gpus}}</span></td>
                  </tr>
                  <tr>
                    <td>Uptime</td>
                    <td><span class="label label-info">{{entry.uptime | secondsToTimeString}}</span></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-6" style="margin-top: 10px;">
            <div class="panel panel-default" style="padding-left: 2px;">
              <div class="panel-body">
                <table class='table table-borderless'>
                  <tr>
                    <td>Accepted Shares</td>
                    <td><span class="label label-primary">{{entry.accepted}}</span></td>
                  </tr>
                  <tr>
                    <td>Rejected Shares</td>
                    <td><span class="label label-primary">{{entry.rejected}}</span></td>
                  </tr>
                  <tr>
                    <td>Accepted Shares / Min</td>
                    <td><span class="label label-info">{{entry.acceptedPerMinute}}</span></td>
                  </tr>
                  <tr>
                    <td>Difficulty</td>
                    <td><span class="label label-info">{{entry.difficulty}}</span></td>
                  </tr>
                  <tr>
                    <td>Version</td>
                    <td><span class="label label-info">{{entry.miner}}</span></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>

        <div ng-if="entry.type==='claymore-eth'">
          <span style="font-size:120%;">[claymore-eth]</span><br/>

          <div class="col-md-6" style="margin-top: 10px;">
            <div class="panel panel-default">
              <div class="panel-body">
                <table class='table table-borderless'>
                  <tr>
                    <td>Eth Hashrate</td>
                    <td><span class="label label-primary">{{entry['eth-hashrate'] | hashrate}}</span></td>
                  </tr>
                  <tr>
                    <td>Eth Accepted Shares</td>
                    <td><span class="label label-primary">{{entry['eth-accepted']}}</span></td>
                  </tr>
                  <tr>
                    <td>Eth Rejected Shares</td>
                    <td><span class="label label-primary">{{entry['eth-rejected']}}</span></td>
                  </tr>
                  <tr>
                    <td>Temperatures</td>
                    <td><span style="margin-right: 4px;" class="label label-info" ng-repeat="temp in entry.temps">{{temp}} °C</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Version</td>
                    <td><span class="label label-info">{{entry.version}}</span></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-6" style="margin-top: 10px;">
            <div class="panel panel-default" style="padding-left: 2px;">
              <div class="panel-body">
                <table class='table table-borderless'>
                  <tr>
                    <td>Sia/Dcr/Lbry Hashrate</td>
                    <td><span class="label label-primary">{{entry['alt-hashrate'] | hashrate}}</span></td>
                  </tr>
                  <tr>
                    <td>Sia/Dcr/Lbry Accepted Shares</td>
                    <td><span class="label label-primary">{{entry['alt-accepted']}}</span></td>
                  </tr>
                  <tr>
                    <td>Sia/Dcr/Lbry Rejected Shares</td>
                    <td><span class="label label-primary">{{entry['alt-rejected']}}</span></td>
                  </tr>
                  <tr>
                    <td>Fans</td>
                    <td><span style="margin-right: 4px;" class="label label-info"
                              ng-repeat="fan in entry.fans">{{fan}}%</span></td>
                  </tr>
                  <tr>
                    <td>Uptime</td>
                    <td><span class="label label-info">{{entry.uptime | secondsToTimeString}}</span></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>

        <div ng-if="entry.type==='claymore-zec'">
          <span style="font-size:120%;">[claymore-zec]</span><br/>

          <div class="col-md-6" style="margin-top: 10px;">
            <div class="panel panel-default">
              <div class="panel-body">
                <table class='table table-borderless'>
                  <tr>
                    <td>Solutionrate</td>
                    <td><span class="label label-primary">{{entry['zec-hashrate'] | solutionrate}}</span></td>
                  </tr>
                  <tr>
                    <td>Temperatures</td>
                    <td><span style="margin-right: 4px;" class="label label-info" ng-repeat="temp in entry.temps">{{temp}} °C</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Version</td>
                    <td><span class="label label-info">{{entry.version}}</span></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-6" style="margin-top: 10px;">
            <div class="panel panel-default" style="padding-left: 2px;">
              <div class="panel-body">
                <table class='table table-borderless'>
                  <tr>
                    <td>Accepted Shares</td>
                    <td><span class="label label-primary">{{entry['zec-accepted']}}</span></td>
                  </tr>
                  <tr>
                    <td>Rejected Shares</td>
                    <td><span class="label label-primary">{{entry['zec-rejected']}}</span></td>
                  </tr>
                  <tr>
                    <td>Fans</td>
                    <td><span style="margin-right: 4px;" class="label label-info"
                              ng-repeat="fan in entry.fans">{{fan}}%</span></td>
                  </tr>
                  <tr>
                    <td>Uptime</td>
                    <td><span class="label label-info">{{entry.uptime | secondsToTimeString}}</span></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>

        <div ng-if="entry.type==='nheqminer'">
          <span style="font-size:120%;">[nheqminer]</span><br/>

          <div class="col-md-6" style="margin-top: 10px;">
            <div class="panel panel-default">
              <div class="panel-body">
                <table class='table table-borderless'>
                  <tr>
                    <td>Iterationrate</td>
                    <td><span class="label label-primary">{{entry.iterationRate | iterationrate}}</span></td>
                  </tr>
                  <tr>
                    <td>Accepted Shares / Min</td>
                    <td><span class="label label-info">{{entry.acceptedPerMinute}}</span></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-6" style="margin-top: 10px;">
            <div class="panel panel-default" style="padding-left: 2px;">
              <div class="panel-body">
                <table class='table table-borderless'>
                  <tr>
                    <td>Solutionrate</td>
                    <td><span class="label label-primary">{{entry.solutionRate | solutionrate}}</span></td>
                  </tr>
                  <tr>
                    <td>Rejected Shares / Min</td>
                    <td><span class="label label-info">{{entry.rejectedPerMinute}}</span></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>

        <div ng-if="entry.type==='other'">
          <span style="font-size:120%;">[other]</span><br/>
          <table class='table table-borderless' style="margin-top: 10px;">
            <tr>
              <td>{{entry.text}}</td>
            </tr>
          </table>
        </div>
      </div>

  </span>

</div>
